@import "tailwindcss";

@theme {

  --color-primary: #000000;
  --color-secondary: #575757;
  --color-gray: #f5f5f5;
  --color-gray-100:#e8e8e8;
  --font-size-6xl: 80px;
  --font-size-5xl: 60px;
  --font-size-4xl: 50px;
  --font-size-3xl: 40px;
  --font-size-2xl: 30px;
  --font-size-1xl: 20px;
  --font-size-lg: 18px;
  --font-size-md:17px; 
  --font-size-base: 16px;
  --font-size-sm: 14px;
  --font-size-xs: 12px;
  --font-weight-semibold: 600;
  --leading-heading: 1;
  --leading-body: 1.3;
  --leading-tight: 1;
  --font-height-normal: 1.5;
  --default-font-family: "Bricolage Grotesque",  sans-serif;
  --font-heading: "Bricolage Grotesque", sans-serif;
  --font-body: "Manrope", sans-serif;


  --text-4xl: var(--font-size-4xl);
  --text-3xl: var(--font-size-3xl);
  --text-2xl: var(--font-size-2xl);
  --text-1xl: var(--font-size-1xl);
  --text-lg: var(--font-size-lg);
  --text-md: var(--font-size-md);
  --text-base: var(--font-size-base);
  --text-sm: var(--font-size-sm);
  --text-xs: var(--font-size-xs);
  --text-sm--line-height: calc(.875);
  
}


/* responsive font sizes   */ 
@media screen and (max-width: 768px) {
  :root {
    --font-size-6xl: 70px;
    --font-size-5xl: 48px;
    --font-size-4xl: 40px;
    --font-size-3xl: 32px;
    --font-size-2xl: 26px;
    --font-size-1xl: 19px;
    --font-size-lg: 17px;
    --font-size-md: 16px;
    --font-size-base: 20px;
    --font-size-sm: 14px;
    --font-size-xs: 13px;
  }
  
}

@media screen and (max-width: 425px ) {

  :root {
    --font-size-6xl: 45px;
    --font-size-5xl: 35px;
    --font-size-4xl: 30px;
    --font-size-3xl: 25px;
    --font-size-2xl: 20px;
    --font-size-1xl: 18px;
    --font-size-lg: 17px;
    --font-size-md: 16px; 
    --font-size-base: 20px;
    --font-size-sm: 14px;
    --font-size-xs: 13px;
  }

  @layer components {
    h1 {
      line-height: var(--leading-tight);
    }
  }


}




@layer components {
    h1 {
      font-size: var(--font-size-6xl);
      font-weight: var(--font-weight-semibold);
      color: var(--color-primary);
      font-family: var(--font-heading);
      line-height: var(--leading-heading);
      margin-bottom: 10px;
    }

    h2 {
      font-size: var(--font-size-5xl);
      font-weight: var(--font-weight-semibold);
      color: var(--color-primary);
      font-family: var(--font-heading);
      line-height: var(--leading-heading);
      margin-bottom: 10px;
    }

    h3 {
      font-size: var(--font-size-4xl);
      font-weight: var(--font-weight-semibold);
      color: var(--color-primary);
      font-family: var(--font-heading);
      line-height: var(--leading-heading);
      margin-bottom: 10px;
    }

    h4 {
      font-size: var(--font-size-3xl);
      font-weight: var(--font-weight-semibold);
      color: var(--color-primary);
      font-family: var(--font-heading);
      line-height: var(--leading-heading);
      margin-bottom: 10px;
    }

    h5 {
      font-size: var(--font-size-2xl);
      font-weight: var(--font-weight-semibold);
      color: var(--color-primary);
      font-family: var(--font-heading);
      line-height: var(--leading-heading);
      margin-bottom: 10px;
    }

    h6 {
      font-size: var(--font-size-1xl);
      font-weight: var(--font-weight-semibold);
      color: var(--color-primary);
      font-family: var(--font-heading);
      line-height: var(--leading-heading);
      margin-bottom: 10px;
    }

    p {
      font-size: var(--font-size-base);
      color: var(--color-secondary);
      font-family: var(--font-body);
      line-height: var(--font-height-normal);
      margin-bottom: 10px;
    }

    a {
      font-size: var(--font-size-base);
      color: var(--color-secondary);
      font-family: var(--font-body);
      line-height: var(--font-height-normal);
      text-decoration: none;
      transition: color 0.5s ease;
      &:hover {
        color: var(--color-white);
      }
    }

    .btn {
      @apply bg-transparent text-primary font-semibold py-3 px-8 rounded-full border cursor-pointer hover:bg-primary hover:text-white transition-colors duration-300;
    }

    .btn-primary {
      @apply bg-primary text-white font-semibold py-3 px-8 rounded-full cursor-pointer hover:bg-transparent hover:text-primary transition-colors duration-300;
    }

    .btn-secondary {
      @apply bg-white text-primary font-semibold py-3 px-8 rounded-full cursor-pointer hover:bg-primary hover:text-white transition-colors duration-300;
    }


     .subscribe-btn {
      @apply absolute right-1 top-1 bottom-1 bg-primary text-white px-3 sm:px-10 py-4 rounded-full text-sm font-semibold hover:bg-primary/90 transition-colors duration-300 z-10 cursor-pointer;
    }

    .input-rounded {
      @apply border bg-white border-secondary rounded-full px-4 py-2 text-sm focus:outline-none focus:ring-2 focus:ring-primary active:outline-none transition-colors duration-300;
    }
    
    .input-with-button {
      @apply w-full bg-white border-secondary rounded-full pl-4 pr-28 py-5 text-sm focus:outline-none focus:ring-0 focus:border-primary transition-colors duration-300;
    }

    .section {
      @apply container mx-auto py-10 px-5 md:px-10 md:py-20 lg:px-15 lg:py-20 sm:px-10 sm:py-20 xl:px-0 xl:py-30;
    }
    


}



.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla_slide {
  flex: 0 0 100%;
  min-width: 0;
}

@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-marquee {
  display: flex;
  width: max-content;
  animation: marquee 20s linear infinite;
}



html, body {
  @apply overscroll-y-none;
}





